* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
}

.text {
    font-family: Verdana, serif;
    user-select: none;
    text-align: center;
    font-size: 5rem;
    margin: 0 15vw;
    width: 70vw;
}

#chaos {
    background: red;
    z-index: 2;
}

#james {
    background: blue;
}