#project_gallery_wrapper {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
}

#project_gallery {
    position: relative;
}

.project_gallery_arrow {
    z-index: 3;
}

#project_gallery_left_arrow {

}

#project_gallery_right_arrow {

}

.project_gallery_card {
    position: absolute;
    transition: opacity 1s, filter 1s, transform 1s;
}

.project_gallery_card.left {
    opacity: 0;
    transform: translateX(-40%);
    filter: blur(5px);
}

.project_gallery_card.right {
    opacity: 0;
    transform: translateX(40%);
    filter: blur(5px);
}