#project_gallery_wrapper {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
}

#project_gallery {

}

#project_gallery_left_arrow {

}

#project_gallery_right_arrow {

}

.project_gallery_card {
    position: absolute;
}