#project_gallery_wrapper {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
}

#project_gallery {
    position: relative;
    display: grid;
    overflow: hidden;
}

.project_gallery_arrow {
    z-index: 3;
    font-size: 2rem;
}

.project_gallery_arrow:hover {
    text-shadow: 2px 2px 8px #FF0000;
}

.project_gallery_arrow.hidden {
    display: none;
}

#project_gallery_left_arrow {

}

#project_gallery_right_arrow {

}

.project_gallery_card {
    grid-column: 1/2;
    grid-row: 1/2;
    transition: opacity 1s, filter 1s, transform 1s;
}

.project_gallery_card.left {
    opacity: 0;
    transform: translateX(-40%);
    filter: blur(5px);
}

.project_gallery_card.right {
    opacity: 0;
    transform: translateX(40%);
    filter: blur(5px);
}