*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color-scheme: only dark;
}

body {
    font-size: 1.25rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--h-font);
}

p {
    font-family: var(--p-font);
    font-size: 1.15rem;
}