header {
    background: var(--gradient-fallback);
    background: var(--gradient-browser-1);
    background: var(--gradient-browser-2);
    padding: 1.5rem 2.5rem;
    margin-bottom: 10px;
    display: flex;
}

header h1 {
    font-size: 3rem;
}

#social-icons {
    margin-left: auto;
    display: inline;
}

#social-icons a {
    padding: 0.5rem;
    font-size: 3rem;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

@media (prefers-color-scheme: dark) {
    header {
        text-shadow: 1px 1px 2px #000000;
    }

    #social-icons a:hover {
        text-shadow: 2px 2px 3px #000000;
    }
}

@media (prefers-color-scheme: light) {
    #social-icons a:hover {
        color: white;
    }
}