.wrapper {
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

section {
    padding-block: 4rem;
}

.section-title {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}

#projects {
    position: relative;
}

#projects::after {
    content: "";
    background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(-2deg);
}

.project-title {
    margin-block: 1rem;
    display: flex;
    padding-inline: 1rem;
}

.languages {
    margin-left: auto;
}

.languages>p {
    background-color: white;
    font-family: "Cascadia Code", serif;
    font-weight: bolder;
    margin-left: auto;
    border-radius: 0.5rem;
    padding: 5px;
    color: black;
    mix-blend-mode: screen;
    display: inline;
}